<div id="main-container">
  <div class="container">

    <mat-toolbar color="primary">
      <h1 class="header-title">WeatherApp</h1>
      <a class="weather-button" mat-button routerLink="/weather"> Weather </a>
      <a class="favorites-button" mat-button routerLink="/favorites"> Favorites </a>

      <span class="fill-remaining-space"></span>

      <mat-slide-toggle class="theme-color" [(ngModel)]="themeStatus"
                        (click)="selectTheme()">{{ themeColor }}</mat-slide-toggle>
      <mat-slide-toggle class="temp-scale" [(ngModel)]="tempScaleStatus"
                        (click)="selectTempScale()">{{ tempScale }}</mat-slide-toggle>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>
</div>
